*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.link {
  text-decoration: none;
}

.link--active {
  cursor: default;
  pointer-events: none;
}

.card__image-wrapper {
  width: 140px;
  height: 112px;
  display: flex;
  justify-content: center;
}

.card__image {
  align-self: flex-end;
}
