*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.link {
  text-decoration: none;
}

.link--active {
  cursor: default;
  pointer-events: none;
}

.card__image-wrapper {
  width: 140px;
  height: 112px;
  display: flex;
  justify-content: center;
}

.card__image {
  align-self: flex-end;
}

.nutrition-concept__point {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #68b738;
}

.nutrition-concept__point::after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
}

.nutrition-concept__point--natural::after {
  background-image: url("./img/icon-leaf.svg");
}

.nutrition-concept__point--powdered::after {
  background-image: url("./img/icon-cap.svg");
}

.nutrition-concept__point--substituted::after {
  background-image: url("./img/icon-eat.svg");
}

.nutrition-concept__point--fast::after {
  background-image: url("./img/icon-clock.svg");
}
